/*importing miama font*/
@import url('../miama-font/miama.css');

/*google font class*/
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  * {
    margin: 0;
    padding: 0;
  }

  /* shared styles start here */
:root{
    --primary-color: #E6533C;
}
.primary-color{
     color: var(--primary-color);
}
.display-flex {
	display: flex;
	align-items: center;
    justify-content: space-between;
}
.wrapper{
    max-width: 75%;
    margin: 0 auto;
}
.btn-primary {
	background-color: var(--primary-color);
	border-radius: 45px;
	padding: 16px 48px;
	border: 1px solid var(--primary-color)aliceblue;
	color: #fff;
	font-size: 1.12rem;
	line-height: 1.37rem;
	font-weight: 600;
}
.btn-secondary {
	background-color: transparent;
	border-radius: 45px;
	padding: 16px 48px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 1.12rem;
	line-height: 1.37rem;
	font-weight: 600;
}
.banner-texts h3 {
	color: #fff;
	font-size: 5rem;
	font-weight: 900;
	line-height: 120%;
}
.text-paragraph {
	color: rgba(255, 255, 255, 0.50);
	font-size: 0.87rem;
	line-height: 1.5rem;
	letter-spacing: 0.3px;
    margin-top: 14px;
}
/* shared styles end here */

/* header section styles start here  */
header{
	background: #000
}

/* header section styles end here  */

/* navigation section styles starts here */
.nav-bar, .banner{
    max-width: 75%;
    margin: 0 auto;
}
.nav-bar .nav-bar-wrapper {
	justify-content: space-between;
	padding: 3.5rem 11.5rem;
}
.nav-bar .nav-links{
    list-style: none;
}
.nav-bar .nav-links li {
	margin-right: 3rem;
}
.nav-bar .nav-links li:last-child{
    margin-right: 0;
}
.nav-bar .nav-links li a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-size: 1.2rem;
	line-height: 120%;
}
.nav-bar .nav-links li.current a {
	background-color: var(--primary-color);
	padding: 8px 20px;
	font-weight: 600;
	border-radius: 45px;
}
/* navigation section styles ends here */

/* logo styles start here  */
#logo {
	font-size: 2.25rem;
	line-height: 120%;
	font-weight: 800;
	font-style: italic;
}
/* logo styles end here  */

/* banner section styles start */
.banner-texts{
    max-width: 50%;
}
.banner-texts h3 {
	color: #fff;
	font-size: 4.87rem;
	font-weight: 900;
	line-height: 120%;
}
.banner-texts h3 span {
	font-family: 'miamaregular';
	font-weight: normal;
	font-size: 10rem;
}
.banner-texts p {
	font-size: 1rem;
	letter-spacing: 0.5px;
    margin-top: 28px;
    margin-bottom: 28px;
}
.banner-texts .btn-primary{
    margin-right: 14px;
}
.banner-image{
    position: relative;
}
.banner-image .free-workout-videos,
.banner-image .video-tutorial {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	padding: 1rem 1.5rem;
	position: absolute;
}
.banner-image .free-workout-videos{
	top: 23%;
	right: -21%;
}
.banner-image .video-tutorial{
	left: -30%;
	bottom: 10%;
}
.banner-image .free-workout-videos h4{
    color: #fff;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.banner-image .free-workout-videos p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
    margin-top: 5px;
}
.banner-image .video-tutorial i {
	color: #fff;
	background-color: var(--primary-color);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	margin-right: 12px;
}
.banner-image .video-tutorial h5 {
    color: #FAFAF9;
	font-size: 1.5rem;
	line-height: 1.5rem;
    font-weight: 900;
	letter-spacing: 0.3px;
}
.banner-image .video-tutorial p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    margin-top: 8px;
}
/* banner section styles end */