.challenge-grid{
	max-width: 100%;
	margin: 0;
}
.challenge-grid .challenge-grid-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 0;
	column-gap: 0;
}
.challenge-grid article {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background-color: #E6533C;
	max-height: 470px;
	overflow: hidden;
}
.challenge-grid article.row-reverse {
	flex-direction: row-reverse;
}
.challenge-grid article.bg-black{
	background-color: #000;
}  
.challenge-grid article .content .content-wrapper{
	padding: 4rem;
}
.challenge-grid article .content h5{
	color: var(--primary-text-color);
	text-transform: uppercase;
}
.challenge-grid article .content h4 {
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}
.challenge-grid article .content p{
	margin-bottom: 1rem;
}
.challenge-grid article .content .read-more{
	position: relative;
}
.challenge-grid article .content a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
}
.challenge-grid article .content a::after {
	content: '';
	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	height: 1px;
	width: 4px;
	border: 2px solid;
	border-color: #fff;
	background-color: #fff;
	transition: width .3s ease-out;
}
.challenge-grid article .content span:hover a::after{
	width: 100%;
}
.challenge-grid article .media{
	max-width: 100%;
	height: auto;
}
.challenge-grid article .media a{
	display: block;
}
.challenge-grid article .media a img{
	transition: transform .6s ease;
}
.challenge-grid article .media a:hover img{
	transform: scale(1.05);
}
.challenge-grid article .content,
.challenge-grid article .media {
  flex: 1; /* This will make both .content and .media take up equal space */
}